* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: blueviolet;
}

.header {
    width: 100vw;
    height: 100vh;
display: flex;
align-items: center;
justify-content: center;
 
}
.card__item {
  display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 position: absolute;
}
.card {
    width: 11rem;
    height: 11rem;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.2rem solid black;
    margin: auto;
    border-radius: 2rem;
}
.header__item{
    width: 36rem;
    height: 36rem;
    display: flex;
    align-items: center;
    background-color: #ffff;
    justify-content: center;
    border-radius: 1rem;
}

.item__inner{
    width: 15rem;
    height: 15rem;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_x {
    font-size: 7rem;
    font-weight: 900;
    color: rgb(108, 117, 243);
}
.circle {
    font-size: 9rem;
font-weight: 900;
color: rgb(248, 10, 10);
}